.vagrant/
.idea/
.vscode/
.DS_Store

*.swp

docs/_build
bin/

release/bin/brave
release/bin/*.tar.gz

vagrant/.vagrant
vagrant/*.log

install/darwin/brave
install/ubuntu/brave
install/linux/brave

db/bravetoolsdb/*.db
db/bravetoolsdb/bravetoolsdb*
db/bravetoolsdb/bravetoolsdb

bravetools*
